.container {
    max-width: 140rem;
    padding: 4.2rem 4.2rem;
    display: flex;
    justify-content: space-between;
}

img {
    width: 150px;
}

ul {
    display: flex;
    gap: 3.2rem;
}

li {
    list-style: none;
}